:root{
    --col1:red;
    --col2:rgba(18, 236, 29, 0.832);
    --col3: yellow;
    --col4:rgb(223, 11, 238);
    --col5:blue;

}
body{
    display: flex;
    justify-content: center;

}
.box1{
    height: 200px;
    width: 200px;
    background-color: var(--col1);
    align-content: center;
    text-align: center;
    

}
.box2{
    height: 200px;
    width: 200px;
    background-color: var(--col2);
    align-content: center;
    text-align: center;
}
.box3{
    height: 200px;
    width: 200px;
    background-color: var(--col3);
    align-content: center;
    text-align: center;
}
.box4{
    height: 200px;
    width: 200px;
    background-color: var(--col4);
    align-content: center;
    text-align: center;
}
.box5{
    height: 200px;
    width: 200px;
    background-color: var(--col5);
    align-content: center;
    text-align: center;
}
